.form-control:focus {
    border-color: #000080;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 128, 0.25);
  }
  
  .btn-outline-success:hover {
    color: #6c757d;
    background-color: #000080;
    border-color: #000080;
  }
